.App {
    padding: auto;
}

.App .Container {
    margin: 20px auto;
    width: 80%;
}

.App .Cart-Total {
    width: 80%;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 800;
}

.App .Cart-Total .Payable-Amount {
    font-weight: 600;
}