header {
    background: #1e56bd;
    padding: 0px 20px;
    color: #FFF;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px 1px #222;
}

.App-Title {
    text-transform: uppercase;
}

.App-Title span {
    font-size: 1.2rem;
    font-weight: bold;
}

/* nav { } */

nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    align-items: center;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

nav ul li {
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 12px;
}

nav ul li div .cart-img {
    width: 28px;
    height: 28px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(265deg) brightness(106%) contrast(103%);
}

nav ul li div .cart-item-count {
    background: yellow;
    color: black;
    padding: 2px 8px;
    border-radius: 11px;
    font-size: 0.8rem !important;
    position: absolute;
    top: 8px;
}